.titulo{
    color: rgb(117, 23, 23);
    font-size: 4em;
    margin-bottom: 1em;
    text-align: center;
    font-family: cursive;
}
th{
    background-color: pink;
    color: #e66565;
    font-size: 2em;
    font-family: cursive;
}

.subtitulo{
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2em;


}

ul{
    list-style: disc;
}

td{
    background-color: rgb(123, 211, 211);
    font-family: 'Times New Roman', Times, serif;
}
th,td
{
    border: 1px;
    padding: 8px;
}

#especial{
    font-size: 30;
    color: rgb(188, 30, 112);
    padding: 8px;
    text-align: center;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    font-size: 1em;
    font-family: cursive;

}
.imagen{
    border-color: rgb(247, 249, 249);
    border-style: double;
    border-radius: 30px;
    padding: 15px;
    font-size: 1em;
}

.list{
    flex: 1;
    margin-right: 100;
}

.mg{
    border-radius: 20px;
}

.cargahoraria{
    font-size: 1em;
}

@media(width<=785px){
    .cargahoraria{
        font-size: .6em;
    }  
    .titulo{
        font-size: 3em;
        font-family: 'Times New Roman', Times, serif;
    }  
    .subtitulo{
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
    }

    #especial{
        font-size: 1.5em;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .imagen{
        
        border-style: double;

        padding: 30px;
        font-size: 1em;
    }

}