.container{
    font-family: Arial, sans-serif;
    background-color: #46c7b4;
    color: #fff;
    height: 100vh;
    padding: 2.5%;
    border-radius: 5px;
    
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

button[type="submit"] {
    padding: 1em;
    border-radius: 10px;
}

.titulo{
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(239, 210, 215);
}

.container{
    text-align: center; 
    display: flex;
    flex-direction: column;
    display: inline-block;
    border-radius: 20px;
    background-color:rgb(118, 206, 239);
    width: 100%;
    padding: 5em;
}


@media(width<=600px){
    .container{
        text-align: center; 
        display: flex;
        flex-direction: column;
        display: inline-block;
        border-radius: 10px;
        background-color:rgb(118, 206, 239);
        width: 80%;
        padding: .5em;
    }

    .titulo{
        font-size: 2em;
        margin-bottom: 30px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }



    button[type="submit"] {
        width: 50%;
        padding: .5em;
        margin: 1%;
        background-color: #ffffff;
        color: #000000;
        border: none;
        border-radius: 1px;
        cursor: pointer;
    }
}