.container{
    text-align: center; 
    display: flex;
    flex-direction: column;
    display: inline-block;
    border: 1em solid #000000;
    border-radius: 20px;
    background-color:rgb(233, 75, 75);
    width: 100%;
    padding: 5em;
   
   
}
.titulo{
    font-size: 4em;
    margin-bottom: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.subtitulo{
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.input{
    width: 100%;
    padding: 1em;
    margin: 2px;
    border-radius: 7px;
    border-color: #ccc;
    border-width: 2px;
    border-style: solid;
}
.boton{
    background-color: rgb(0, 109, 168);
    color: rgb(255, 255, 255);
    font-family: cursive;
    padding: 1em;
    border-radius: 10px;
}
body{
    display: flex;
    justify-content: center;
}



@media(width<=600px){
    .botones{
        flex-direction: column;

    }  
    .titulo{
        font-size: 3em;
        font-family: 'Times New Roman', Times, serif;
    }  
    .subtitulo{
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
    }

    .boton{
        padding: 1em;
        border-radius: 30px;
    }
}